@media (min-width:300px){
.carousel{
     margin-bottom: 16vh;
        margin-top: 10vh;
        height: 32vh;
        width: 26vh;
    }
.carousel-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-carousel{
    height: 30vh;
    width: 30vh;
    }
}

@media (min-width:800px){
    .carousel{
        margin-top: 10vh;
        height: 40vh;
        width: 40vh;
    }
.carousel-flex-total{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.img-carousel{
    height: 40vh;
    width: 40vh;
    }
.carousels{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
}