@media (min-width:300px) {
.contacto_msj{
    width: 50vh;
}
.formulario_contacto{
    width: 20vh;
}
.text-area{
    width: 20vh;
    height: 20vh;
}
.contacto-orden{
    display: flex;
    justify-content: center;
}
.boton_margin{
    margin-bottom: 20vh;
}
}
@media (min-width:800px){
    .text-area{
        width: 40vh;
        height: 40vh;
    }

h2{
    margin-top: 4vh;
    margin-bottom: 2vh;
}
}