h1{
    font-weight: bold;
    font-family: Gill Sans;
    background-color: #ee8762;
    margin: 0;
}
body{
    background-color: rgb(204, 204, 191);
}

footer{
    background-color: #ee8762;
    display: flex;
    justify-content: center;
}
.img-footer{
    width: 10vh;
}
.mapa-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}